.Alive, .Dead, .unknown {
    margin: 10px;
    border-radius: 5px;
}

img {
    width: 200px;
}

.Alive {
    background-color: #f0f7ff;
    color: #30d0b6;
    border: 2px solid grey;
}

.Dead {
    background-color: #fbc9ce;
    color: #a34e4e;
    border: 2px solid #a34e4e;
}

.unknown {
    background-color: grey;
}